In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('D:/工作/data/titanic')

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
cat = df.select_dtypes(include='object')

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
enc = OneHotEncoder(categories='auto',handle_unknown='ignore')

In [9]:
cat = cat.fillna('None')

In [14]:
result = enc.fit_transform(cat)

In [31]:
from sklearn.preprocessing import LabelEncoder

In [37]:
label = LabelEncoder()
res = label.fit_transform(cat.iloc[:,2])

In [43]:
label.inverse_transform()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '349909', '347077', '2631', '19950', '330959', '349216',
       'PC 17601', 'PC 17569', '335677', 'C.A. 24579', 'PC 17604',
       '113789', '2677', 'A./5. 2152', '345764', '2651', '7546', '11668',
       '349253', 'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371',
       '14311', '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572',
       '2926', '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651',
       'CA 2144', '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'CA 2144', 'S.O.C. 14879', '2680', '1601', '348123', '349208',
       '374746', '248738', '364516', '345767', '345779', '330932',
       '113059', 'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086',
       '19950', '343275', '343276', '347466', 'W.E.P. 5734', 'C.A. 2315',
       '364500', '374910', 'PC 17754', 'PC 17759', '231919', '244367',
       '349245', '349215', '35281', '7540', '3101276', '349207', '343120',
       '312991', '349249', '371110', '110465', '2665', '324669', '4136',
       '2627', 'STON/O 2. 3101294', '370369', '11668', 'PC 17558',
       '347082', 'S.O.C. 14879', 'A4. 54510', '237736', '27267', '35281',
       '2651', '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '113803', '7534', 'PC 17593', '2678',
       '347081', 'STON/O2. 3101279', '365222', '231945', 'C.A. 33112',
       '350043', 'W./C. 6608', '230080', '244310', 'S.O.P. 1166',
       '113776', 'A.5. 11206', 'A/5. 851', 'Fa 265302', 'PC 17597',
       '35851', 'SOTON/OQ 392090', '315037', 'CA. 2343', '371362',
       'C.A. 33595', '347068', '315093', '3101295', '363291', '113505',
       '347088', 'PC 17318', '1601', '111240', '382652', '347742',
       'STON/O 2. 3101280', '17764', '350404', '4133', 'PC 17595',
       '250653', 'LINE', 'CA. 2343', 'SC/PARIS 2131', '347077', '230136',
       '315153', '113767', '370365', '111428', '364849', '349247',
       '234604', '28424', '350046', '230080', 'PC 17610', 'PC 17569',
       '368703', '4579', '370370', '248747', '345770', 'CA. 2343',
       '3101264', '2628', 'A/5 3540', '347054', '3101278', '2699',
       '367231', '112277', 'SOTON/O.Q. 3101311', 'F.C.C. 13528',
       'A/5 21174', '250646', '367229', '35273', 'STON/O2. 3101283',
       '243847', '11813', 'W/C 14208', 'SOTON/OQ 392089', '220367',
       '21440', '349234', '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173',
       '236171', '4133', '36973', '347067', '237442', '347077',
       'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921', '28665',
       'SCO/W 1585', '2665', '367230', 'W./C. 14263', 'STON/O 2. 3101275',
       '2694', '19928', '347071', '250649', '11751', '244252', '362316',
       '347054', '113514', 'A/5. 3336', '370129', '2650', 'PC 17585',
       '110152', 'PC 17755', '230433', '384461', '347077', '110413',
       '112059', '382649', 'C.A. 17248', '3101295', '347083', 'PC 17582',
       'PC 17760', '113798', 'LINE', '250644', 'PC 17596', '370375',
       '13502', '347073', '239853', '382652', 'C.A. 2673', '336439',
       '347464', '345778', 'A/5. 10482', '113056', '349239', '345774',
       '349206', '237798', '370373', '19877', '11967', 'SC/Paris 2163',
       '349236', '349233', 'PC 17612', '2693', '113781', '19988',
       'PC 17558', '9234', '367226', 'LINE', '226593', 'A/5 2466',
       '113781', '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767',
       'PC 17608', '250651', '349243', 'F.C.C. 13529', '347470', '244367',
       '29011', '36928', '16966', 'A/5 21172', '349219', '234818',
       '248738', 'CA. 2343', 'PC 17760', '345364', '28551', '363291',
       '111361', '367226', '113043', 'PC 17582', '345764', 'PC 17611',
       '349225', '113776', '16966', '7598', '113784', '230080', '19950',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '349237', '2647',
       '345783', '113505', '237671', '330931', '330980', '347088',
       'SC/PARIS 2167', '2691', 'SOTON/O.Q. 3101310', '370365', 'C 7076',
       '110813', '2626', '14313', 'PC 17477', '11765', '3101267',
       '323951', 'PC 17760', '349909', 'PC 17604', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '113789', '349227', 'S.O.C. 14879', 'CA 2144', '27849', '367655',
       'SC 1748', '113760', '350034', '3101277', '35273', 'PP 9549',
       '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', 'STON/O2. 3101279',
       '315096', '28664', '347064', '29106', '312992', '4133', '349222',
       '394140', '19928', '239853', 'STON/O 2. 3101269', '343095',
       '28220', '250652', '28228', '345773', '349254', 'A/5. 13032',
       '315082', '347080', '370129', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', '113760', 'W./C. 6608', '29106',
       '19950', 'C.A. 18723', 'F.C.C. 13529', '345769', '347076',
       '230434', '65306', '33638', '250644', '113794', '2666', '113786',
       'C.A. 34651', '65303', '113051', '17453', 'A/5 2817', '349240',
       '13509', '17464', 'F.C.C. 13531', '371060', '19952', '364506',
       '111320', '234360', 'A/S 2816', 'SOTON/O.Q. 3101306', '239853',
       '113792', '36209', '2666', '323592', '315089', 'C.A. 34651',
       'SC/AH Basle 541', '7553', '110465', '31027', '3460', '350060',
       '3101298', 'CA 2144', '239854', 'A/5 3594', '4134', '11967',
       '4133', '19943', '11771', 'A.5. 18509', 'C.A. 37671', '65304',
       'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380', '2627',
       '36947', 'C.A. 6212', '113781', '350035', '315086', '364846',
       '330909', '4135', '110152', 'PC 17758', '26360', '111427',
       'C 4001', '1601', '382651', 'SOTON/OQ 3101316', 'PC 17473',
       'PC 17603', '349209', '36967', 'C.A. 34260', '371110', '226875',
       '349242', '12749', '349252', '2624', '111361', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '26360', '2641',
       '2690', '2668', '315084', 'F.C.C. 13529', '113050', 'PC 17761',
       '364498', '13568', 'WE/P 5735', '347082', '347082', '2908',
       'PC 17761', '693', '2908', 'SC/PARIS 2146', '363291', 'C.A. 33112',
       '17421', '244358', '330979', '2620', '347085', '113807', '11755',
       'PC 17757', '110413', '345572', '372622', '349251', '218629',
       'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871', '349205',
       '349909', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '13507', '2689',
       'STON/O 2. 3101286', '237789', '17421', '28403', '13049', '3411',
       '110413', '237565', '13567', '14973', 'A./5. 3235',
       'STON/O 2. 3101273', '36947', 'A/5 3902', '364848', 'SC/AH 29037',
       '345773', '248727', 'LINE', '2664', 'PC 17485', '243847', '349214',
       '113796', '364511', '111426', '349910', '349246', '113804',
       'SC/Paris 2123', 'PC 17582', '347082', 'SOTON/O.Q. 3101305',
       '367230', '370377', '364512', '220845', '347080', 'A/5. 3336',
       '230136', '31028', '2659', '11753', '2653', '350029', '54636',
       '36963', '219533', '13502', '349224', '334912', '27042', '347743',
       '13214', '112052', '347088', '237668', 'STON/O 2. 3101292',
       'C.A. 31921', '3101295', '376564', '350050', 'PC 17477', '347088',
       '1601', '2666', 'PC 17572', '349231', '13213', 'S.O./P.P. 751',
       'CA. 2314', '349221', '231919', '8475', '330919', '365226',
       'S.O.C. 14879', '349223', '364849', '29751', '35273', 'PC 17611',
       '2623', '5727', '349210', 'STON/O 2. 3101285', 'S.O.C. 14879',
       '234686', '312993', 'A/5 3536', '19996', '29750', 'F.C. 12750',
       'C.A. 24580', '244270', '239856', '349912', '342826', '4138',
       'CA 2144', 'PC 17755', '330935', 'PC 17572', '6563', 'CA 2144',
       '29750', 'SC/Paris 2123', '3101295', '349228', '350036', '24160',
       '17474', '349256', '1601', '2672', '113800', '248731', '363592',
       '35852', '17421', '348121', 'PC 17757', 'PC 17475', '2691',
       '36864', '350025', '250655', '223596', 'PC 17476', '113781',
       '2661', 'PC 17482', '113028', '19996', '7545', '250647', '348124',
       'PC 17757', '34218', '36568', '347062', '248727', '350048',
       '12233', '250643', '113806', '315094', '31027', '36866', '236853',
       'STON/O2. 3101271', '24160', '2699', '239855', '28425', '233639',
       '54636', 'W./C. 6608', 'PC 17755', '349201', '349218', '16988',
       '19877', 'PC 17608', '376566', 'STON/O 2. 3101288', 'WE/P 5735',
       'C.A. 2673', '250648', '113773', '335097', '29103', '392096',
       '345780', '349204', '220845', '250649', '350042', '29108',
       '363294', '110152', '358585', 'SOTON/O2 3101272', '2663', '113760',
       '347074', '13502', '112379', '364850', '371110', '8471', '345781',
       '350047', 'S.O./P.P. 3', '2674', '29105', '347078', '383121',
       '364516', '36865', '24160', '2687', '17474', '113501',
       'W./C. 6607', 'SOTON/O.Q. 3101312', '374887', '3101265', '382652',
       'C.A. 2315', 'PC 17593', '12460', '239865', 'CA. 2343', 'PC 17600',
       '349203', '28213', '17465', '349244', '2685', '345773', '250647',
       'C.A. 31921', '113760', '2625', '347089', '347063', '112050',
       '347087', '248723', '113806', '3474', 'A/4 48871', '28206',
       '347082', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '347088', '12749', '315098', '19972',
       '392096', '3101295', '368323', '1601', 'S.C./PARIS 2079', '367228',
       '113572', '2659', '29106', '2671', '347468', '2223', 'PC 17756',
       '315097', '392092', '1601', '11774', 'SOTON/O2 3101287',
       'S.O./P.P. 3', '113798', '2683', '315090', 'C.A. 5547', 'CA. 2343',
       '349213', '248727', '17453', '347082', '347060', '2678',
       'PC 17592', '244252', '392091', '36928', '113055', '2666', '2629',
       '350026', '28134', '17466', 'CA. 2343', '233866', '236852',
       'SC/PARIS 2149', 'PC 17590', '345777', '347742', '349248', '11751',
       '695', '345765', 'P/PP 3381', '2667', '7534', '349212', '349217',
       '11767', '230433', '349257', '7552', 'C.A./SOTON 34068',
       'SOTON/OQ 392076', '382652', '211536', '112053', 'W./C. 6607',
       '111369', '370376'], dtype=object)

In [20]:
mapping={'x{}'.format(i):value for i, value in enumerate(cat.columns)}

In [29]:
pattern=re.compile(r'^x\d+')
d = map(lambda x: pattern.sub(mapping[pattern.match(x).group()],x),
        enc.get_feature_names())

In [30]:
list(d)

['Name_Abbing, Mr. Anthony',
 'Name_Abbott, Mr. Rossmore Edward',
 'Name_Abbott, Mrs. Stanton (Rosa Hunt)',
 'Name_Abelson, Mr. Samuel',
 'Name_Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Name_Adahl, Mr. Mauritz Nils Martin',
 'Name_Adams, Mr. John',
 'Name_Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Name_Aks, Mrs. Sam (Leah Rosen)',
 'Name_Albimona, Mr. Nassef Cassem',
 'Name_Alexander, Mr. William',
 'Name_Alhomaki, Mr. Ilmari Rudolf',
 'Name_Ali, Mr. Ahmed',
 'Name_Ali, Mr. William',
 'Name_Allen, Miss. Elisabeth Walton',
 'Name_Allen, Mr. William Henry',
 'Name_Allison, Master. Hudson Trevor',
 'Name_Allison, Miss. Helen Loraine',
 'Name_Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Name_Allum, Mr. Owen George',
 'Name_Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Name_Anderson, Mr. Harry',
 'Name_Andersson, Master. Sigvard Harald Elias',
 'Name_Andersson, Miss. Ebba Iris Alfrida',
 'Name_Andersson, Miss. Ellis Anna Maria',
 'Name_Andersson, Miss. Erna Alexandra',
 'Name_Andersson, Miss. Ingeborg Constanzia',
 'Name_Andersson, Miss. Sigrid Elisabeth',
 'Name_Andersson, Mr. Anders Johan',
 'Name_Andersson, Mr. August Edvard ("Wennerstrom")',
 'Name_Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Name_Andreasson, Mr. Paul Edvin',
 'Name_Andrew, Mr. Edgardo Samuel',
 'Name_Andrews, Miss. Kornelia Theodosia',
 'Name_Andrews, Mr. Thomas Jr',
 'Name_Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Name_Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Name_Arnold-Franchi, Mr. Josef',
 'Name_Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Name_Artagaveytia, Mr. Ramon',
 'Name_Asim, Mr. Adola',
 'Name_Asplund, Master. Clarence Gustaf Hugo',
 'Name_Asplund, Master. Edvin Rojj Felix',
 'Name_Asplund, Miss. Lillian Gertrud',
 'Name_Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Name_Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Name_Attalah, Miss. Malake',
 'Name_Attalah, Mr. Sleiman',
 'Name_Aubart, Mme. Leontine Pauline',
 'Name_Augustsson, Mr. Albert',
 'Name_Ayoub, Miss. Banoura',
 'Name_Backstrom, Mr. Karl Alfred',
 'Name_Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Name_Baclini, Miss. Eugenie',
 'Name_Baclini, Miss. Helene Barbara',
 'Name_Baclini, Miss. Marie Catherine',
 'Name_Baclini, Mrs. Solomon (Latifa Qurban)',
 'Name_Badt, Mr. Mohamed',
 'Name_Bailey, Mr. Percy Andrew',
 'Name_Balkic, Mr. Cerin',
 'Name_Ball, Mrs. (Ada E Hall)',
 'Name_Banfield, Mr. Frederick James',
 'Name_Barah, Mr. Hanna Assi',
 'Name_Barbara, Miss. Saiide',
 'Name_Barbara, Mrs. (Catherine David)',
 'Name_Barber, Miss. Ellen "Nellie"',
 'Name_Barkworth, Mr. Algernon Henry Wilson',
 'Name_Barton, Mr. David John',
 'Name_Bateman, Rev. Robert James',
 'Name_Baumann, Mr. John D',
 'Name_Baxter, Mr. Quigg Edmond',
 'Name_Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Name_Bazzani, Miss. Albina',
 'Name_Beane, Mr. Edward',
 'Name_Beane, Mrs. Edward (Ethel Clarke)',
 'Name_Beavan, Mr. William Thomas',
 'Name_Becker, Master. Richard F',
 'Name_Becker, Miss. Marion Louise',
 'Name_Beckwith, Mr. Richard Leonard',
 'Name_Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Name_Beesley, Mr. Lawrence',
 'Name_Behr, Mr. Karl Howell',
 'Name_Bengtsson, Mr. John Viktor',
 'Name_Berglund, Mr. Karl Ivar Sven',
 'Name_Berriman, Mr. William John',
 'Name_Betros, Mr. Tannous',
 'Name_Bidois, Miss. Rosalie',
 'Name_Bing, Mr. Lee',
 'Name_Birkeland, Mr. Hans Martin Monsen',
 'Name_Bishop, Mr. Dickinson H',
 'Name_Bishop, Mrs. Dickinson H (Helen Walton)',
 'Name_Bissette, Miss. Amelia',
 'Name_Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Name_Blackwell, Mr. Stephen Weart',
 'Name_Blank, Mr. Henry',
 'Name_Bonnell, Miss. Elizabeth',
 'Name_Bostandyeff, Mr. Guentcho',
 'Name_Boulos, Miss. Nourelain',
 'Name_Boulos, Mr. Hanna',
 'Name_Boulos, Mrs. Joseph (Sultana)',
 'Name_Bourke, Miss. Mary',
 'Name_Bourke, Mr. John',
 'Name_Bourke, Mrs. John (Catherine)',
 'Name_Bowen, Mr. David John "Dai"',
 'Name_Bowerman, Miss. Elsie Edith',
 'Name_Bracken, Mr. James H',
 'Name_Bradley, Mr. George ("George Arthur Brayton")',
 'Name_Braund, Mr. Lewis Richard',
 'Name_Braund, Mr. Owen Harris',
 'Name_Brewe, Dr. Arthur Jackson',
 'Name_Brocklebank, Mr. William Alfred',
 'Name_Brown, Miss. Amelia "Mildred"',
 'Name_Brown, Mr. Thomas William Solomon',
 'Name_Brown, Mrs. James Joseph (Margaret Tobin)',
 'Name_Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 'Name_Bryhl, Mr. Kurt Arnold Gottfrid',
 'Name_Burke, Mr. Jeremiah',
 'Name_Burns, Miss. Elizabeth Margaret',
 'Name_Buss, Miss. Kate',
 'Name_Butler, Mr. Reginald Fenton',
 'Name_Butt, Major. Archibald Willingham',
 'Name_Byles, Rev. Thomas Roussel Davids',
 'Name_Bystrom, Mrs. (Karolina)',
 'Name_Cacic, Miss. Marija',
 'Name_Cacic, Mr. Luka',
 'Name_Cairns, Mr. Alexander',
 'Name_Calderhead, Mr. Edward Pennington',
 'Name_Caldwell, Master. Alden Gates',
 'Name_Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Name_Calic, Mr. Jovo',
 'Name_Calic, Mr. Petar',
 'Name_Cameron, Miss. Clear Annie',
 'Name_Campbell, Mr. William',
 'Name_Canavan, Miss. Mary',
 'Name_Cann, Mr. Ernest Charles',
 'Name_Caram, Mrs. Joseph (Maria Elias)',
 'Name_Carbines, Mr. William',
 'Name_Cardeza, Mr. Thomas Drake Martinez',
 'Name_Carlsson, Mr. August Sigfrid',
 'Name_Carlsson, Mr. Frans Olof',
 'Name_Carr, Miss. Helen "Ellen"',
 'Name_Carrau, Mr. Francisco M',
 'Name_Carter, Master. William Thornton II',
 'Name_Carter, Miss. Lucile Polk',
 'Name_Carter, Mr. William Ernest',
 'Name_Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
 'Name_Carter, Mrs. William Ernest (Lucile Polk)',
 'Name_Carter, Rev. Ernest Courtenay',
 'Name_Cavendish, Mr. Tyrell William',
 'Name_Celotti, Mr. Francesco',
 'Name_Chaffee, Mr. Herbert Fuller',
 'Name_Chambers, Mr. Norman Campbell',
 'Name_Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Name_Chapman, Mr. Charles Henry',
 'Name_Chapman, Mr. John Henry',
 'Name_Charters, Mr. David',
 'Name_Cherry, Miss. Gladys',
 'Name_Chibnall, Mrs. (Edith Martha Bowerman)',
 'Name_Chip, Mr. Chang',
 'Name_Christmann, Mr. Emil',
 'Name_Christy, Miss. Julie Rachel',
 'Name_Chronopoulos, Mr. Apostolos',
 'Name_Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Name_Cleaver, Miss. Alice',
 'Name_Clifford, Mr. George Quincy',
 'Name_Coelho, Mr. Domingos Fernandeo',
 'Name_Cohen, Mr. Gurshon "Gus"',
 'Name_Coleff, Mr. Peju',
 'Name_Coleff, Mr. Satio',
 'Name_Coleridge, Mr. Reginald Charles',
 'Name_Collander, Mr. Erik Gustaf',
 'Name_Colley, Mr. Edward Pomeroy',
 'Name_Collyer, Miss. Marjorie "Lottie"',
 'Name_Collyer, Mr. Harvey',
 'Name_Collyer, Mrs. Harvey (Charlotte Annie Tate)',
 'Name_Compton, Miss. Sara Rebecca',
 'Name_Connaghton, Mr. Michael',
 'Name_Connolly, Miss. Kate',
 'Name_Connors, Mr. Patrick',
 'Name_Cook, Mr. Jacob',
 'Name_Cor, Mr. Liudevit',
 'Name_Corn, Mr. Harry',
 'Name_Coutts, Master. Eden Leslie "Neville"',
 'Name_Coutts, Master. William Loch "William"',
 'Name_Coxon, Mr. Daniel',
 'Name_Crease, Mr. Ernest James',
 'Name_Cribb, Mr. John Hatfield',
 'Name_Crosby, Capt. Edward Gifford',
 'Name_Crosby, Miss. Harriet R',
 'Name_Culumovic, Mr. Jeso',
 'Name_Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Name_Cunningham, Mr. Alfred Fleming',
 'Name_Dahl, Mr. Karl Edwart',
 'Name_Dahlberg, Miss. Gerda Ulrika',
 'Name_Dakic, Mr. Branko',
 'Name_Daly, Mr. Eugene Patrick',
 'Name_Daly, Mr. Peter Denis ',
 'Name_Danbom, Mr. Ernst Gilbert',
 'Name_Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Name_Daniel, Mr. Robert Williams',
 'Name_Danoff, Mr. Yoto',
 'Name_Dantcheff, Mr. Ristiu',
 'Name_Davidson, Mr. Thornton',
 'Name_Davies, Master. John Morgan Jr',
 'Name_Davies, Mr. Alfred J',
 'Name_Davies, Mr. Charles Henry',
 'Name_Davis, Miss. Mary',
 'Name_Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Name_Dean, Master. Bertram Vere',
 'Name_Dean, Mr. Bertram Frank',
 'Name_Denkoff, Mr. Mitto',
 'Name_Dennis, Mr. Samuel',
 'Name_Devaney, Miss. Margaret Delia',
 'Name_Dick, Mr. Albert Adrian',
 'Name_Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Name_Dimic, Mr. Jovan',
 'Name_Dodge, Master. Washington',
 'Name_Doharr, Mr. Tannous',
 'Name_Doling, Miss. Elsie',
 'Name_Doling, Mrs. John T (Ada Julia Bone)',
 'Name_Dooley, Mr. Patrick',
 'Name_Dorking, Mr. Edward Arthur',
 'Name_Douglas, Mr. Walter Donald',
 'Name_Dowdell, Miss. Elizabeth',
 'Name_Downton, Mr. William James',
 'Name_Drazenoic, Mr. Jozef',
 'Name_Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Name_Duane, Mr. Frank',
 'Name_Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Name_Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Name_Duran y More, Miss. Asuncion',
 'Name_Edvardsson, Mr. Gustaf Hjalmar',
 'Name_Eitemiller, Mr. George Floyd',
 'Name_Eklund, Mr. Hans Linus',
 'Name_Ekstrom, Mr. Johan',
 'Name_Elias, Mr. Dibo',
 'Name_Elias, Mr. Joseph Jr',
 'Name_Elias, Mr. Tannous',
 'Name_Elsbury, Mr. William James',
 'Name_Emanuel, Miss. Virginia Ethel',
 'Name_Emir, Mr. Farred Chehab',
 'Name_Endres, Miss. Caroline Louise',
 'Name_Eustis, Miss. Elizabeth Mussey',
 'Name_Fahlstrom, Mr. Arne Jonas',
 'Name_Farrell, Mr. James',
 'Name_Farthing, Mr. John',
 'Name_Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Name_Fischer, Mr. Eberhard Thelander',
 'Name_Fleming, Miss. Margaret',
 'Name_Flynn, Mr. James',
 'Name_Flynn, Mr. John',
 'Name_Flynn, Mr. John Irwin ("Irving")',
 'Name_Foo, Mr. Choong',
 'Name_Ford, Miss. Doolina Margaret "Daisy"',
 'Name_Ford, Miss. Robina Maggie "Ruby"',
 'Name_Ford, Mr. William Neal',
 'Name_Ford, Mrs. Edward (Margaret Ann Watson)',
 'Name_Foreman, Mr. Benjamin Laventall',
 'Name_Fortune, Miss. Alice Elizabeth',
 'Name_Fortune, Miss. Mabel Helen',
 'Name_Fortune, Mr. Charles Alexander',
 'Name_Fortune, Mr. Mark',
 'Name_Fox, Mr. Stanley Hubert',
 'Name_Francatelli, Miss. Laura Mabel',
 'Name_Frauenthal, Dr. Henry William',
 'Name_Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Name_Frolicher, Miss. Hedwig Margaritha',
 'Name_Frolicher-Stehli, Mr. Maxmillian',
 'Name_Frost, Mr. Anthony Wood "Archie"',
 'Name_Fry, Mr. Richard',
 'Name_Funk, Miss. Annie Clemmer',
 'Name_Futrelle, Mr. Jacques Heath',
 'Name_Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Name_Fynney, Mr. Joseph J',
 'Name_Gale, Mr. Shadrach',
 'Name_Gallagher, Mr. Martin',
 'Name_Garfirth, Mr. John',
 'Name_Garside, Miss. Ethel',
 'Name_Gaskell, Mr. Alfred',
 'Name_Gavey, Mr. Lawrence',
 'Name_Gee, Mr. Arthur H',
 'Name_Gheorgheff, Mr. Stanio',
 'Name_Giglio, Mr. Victor',
 'Name_Giles, Mr. Frederick Edward',
 'Name_Gilinski, Mr. Eliezer',
 'Name_Gill, Mr. John William',
 'Name_Gillespie, Mr. William Henry',
 'Name_Gilnagh, Miss. Katherine "Katie"',
 'Name_Givard, Mr. Hans Kristensen',
 'Name_Glynn, Miss. Mary Agatha',
 'Name_Goldenberg, Mr. Samuel L',
 'Name_Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Name_Goldschmidt, Mr. George B',
 'Name_Goldsmith, Master. Frank John William "Frankie"',
 'Name_Goldsmith, Mr. Frank John',
 'Name_Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Name_Goncalves, Mr. Manuel Estanslas',
 'Name_Goodwin, Master. Harold Victor',
 'Name_Goodwin, Master. Sidney Leonard',
 'Name_Goodwin, Master. William Frederick',
 'Name_Goodwin, Miss. Lillian Amy',
 'Name_Goodwin, Mr. Charles Edward',
 'Name_Goodwin, Mrs. Frederick (Augusta Tyler)',
 'Name_Graham, Miss. Margaret Edith',
 'Name_Graham, Mr. George Edward',
 'Name_Graham, Mrs. William Thompson (Edith Junkins)',
 'Name_Green, Mr. George Henry',
 'Name_Greenberg, Mr. Samuel',
 'Name_Greenfield, Mr. William Bertram',
 'Name_Gronnestad, Mr. Daniel Danielsen',
 'Name_Guggenheim, Mr. Benjamin',
 'Name_Gustafsson, Mr. Alfred Ossian',
 'Name_Gustafsson, Mr. Anders Vilhelm',
 'Name_Gustafsson, Mr. Johan Birger',
 'Name_Gustafsson, Mr. Karl Gideon',
 'Name_Haas, Miss. Aloisia',
 'Name_Hagland, Mr. Ingvald Olai Olsen',
 'Name_Hagland, Mr. Konrad Mathias Reiersen',
 'Name_Hakkarainen, Mr. Pekka Pietari',
 'Name_Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Name_Hale, Mr. Reginald',
 'Name_Hamalainen, Master. Viljo',
 'Name_Hamalainen, Mrs. William (Anna)',
 'Name_Hampe, Mr. Leon',
 'Name_Hanna, Mr. Mansour',
 'Name_Hansen, Mr. Claus Peter',
 'Name_Hansen, Mr. Henrik Juul',
 'Name_Hansen, Mr. Henry Damsgaard',
 'Name_Harder, Mr. George Achilles',
 'Name_Harknett, Miss. Alice Phoebe',
 'Name_Harmer, Mr. Abraham (David Lishin)',
 'Name_Harper, Miss. Annie Jessie "Nina"',
 'Name_Harper, Mr. Henry Sleeper',
 'Name_Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Name_Harper, Rev. John',
 'Name_Harrington, Mr. Charles H',
 'Name_Harris, Mr. George',
 'Name_Harris, Mr. Henry Birkhardt',
 'Name_Harris, Mr. Walter',
 'Name_Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Name_Harrison, Mr. William',
 'Name_Hart, Miss. Eva Miriam',
 'Name_Hart, Mr. Benjamin',
 'Name_Hart, Mr. Henry',
 'Name_Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Name_Hassab, Mr. Hammad',
 'Name_Hassan, Mr. Houssein G N',
 'Name_Hawksford, Mr. Walter James',
 'Name_Hays, Miss. Margaret Bechstein',
 'Name_Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Name_Healy, Miss. Hanora "Nora"',
 'Name_Hedman, Mr. Oskar Arvid',
 'Name_Hegarty, Miss. Hanora "Nora"',
 'Name_Heikkinen, Miss. Laina',
 'Name_Heininen, Miss. Wendla Maria',
 'Name_Hendekovic, Mr. Ignjac',
 'Name_Henry, Miss. Delia',
 'Name_Herman, Miss. Alice',
 'Name_Herman, Mrs. Samuel (Jane Laver)',
 'Name_Hewlett, Mrs. (Mary D Kingcome) ',
 'Name_Hickman, Mr. Leonard Mark',
 'Name_Hickman, Mr. Lewis',
 'Name_Hickman, Mr. Stanley George',
 'Name_Hippach, Miss. Jean Gertrude',
 'Name_Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Name_Hirvonen, Miss. Hildur E',
 'Name_Hocking, Mr. Richard George',
 'Name_Hocking, Mrs. Elizabeth (Eliza Needs)',
 'Name_Hodges, Mr. Henry Price',
 'Name_Hogeboom, Mrs. John C (Anna Andrews)',
 'Name_Hold, Mr. Stephen',
 'Name_Holm, Mr. John Fredrik Alexander',
 'Name_Holverson, Mr. Alexander Oskar',
 'Name_Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Name_Homer, Mr. Harry ("Mr E Haven")',
 'Name_Honkanen, Miss. Eliina',
 'Name_Hood, Mr. Ambrose Jr',
 'Name_Horgan, Mr. John',
 'Name_Hosono, Mr. Masabumi',
 'Name_Hoyt, Mr. Frederick Maxfield',
 'Name_Hoyt, Mr. William Fisher',
 'Name_Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Name_Humblen, Mr. Adolf Mathias Nicolai Olsen',
 'Name_Hunt, Mr. George Henry',
 'Name_Ibrahim Shawah, Mr. Yousseff',
 'Name_Icard, Miss. Amelie',
 'Name_Ilett, Miss. Bertha',
 'Name_Ilmakangas, Miss. Pieta Sofia',
 'Name_Isham, Miss. Ann Elizabeth',
 'Name_Ivanoff, Mr. Kanio',
 'Name_Jacobsohn, Mr. Sidney Samuel',
 'Name_Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Name_Jalsevac, Mr. Ivan',
 'Name_Jansson, Mr. Carl Olof',
 'Name_Jardin, Mr. Jose Neto',
 'Name_Jarvis, Mr. John Denzil',
 'Name_Jenkin, Mr. Stephen Curnow',
 'Name_Jensen, Mr. Hans Peder',
 'Name_Jensen, Mr. Niels Peder',
 'Name_Jensen, Mr. Svend Lauritz',
 'Name_Jermyn, Miss. Annie',
 'Name_Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Name_Johannesen-Bratthammer, Mr. Bernt',
 'Name_Johanson, Mr. Jakob Alfred',
 'Name_Johansson, Mr. Erik',
 'Name_Johansson, Mr. Gustaf Joel',
 'Name_Johansson, Mr. Karl Johan',
 'Name_Johnson, Master. Harold Theodor',
 'Name_Johnson, Miss. Eleanor Ileen',
 'Name_Johnson, Mr. Alfred',
 'Name_Johnson, Mr. Malkolm Joackim',
 'Name_Johnson, Mr. William Cahoone Jr',
 'Name_Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Name_Johnston, Miss. Catherine Helen "Carrie"',
 'Name_Johnston, Mr. Andrew G',
 'Name_Jonkoff, Mr. Lalio',
 'Name_Jonsson, Mr. Carl',
 'Name_Jussila, Miss. Katriina',
 'Name_Jussila, Miss. Mari Aina',
 'Name_Jussila, Mr. Eiriik',
 'Name_Kallio, Mr. Nikolai Erland',
 'Name_Kalvik, Mr. Johannes Halvorsen',
 'Name_Kantor, Mr. Sinai',
 'Name_Kantor, Mrs. Sinai (Miriam Sternin)',
 'Name_Karaic, Mr. Milan',
 'Name_Karlsson, Mr. Nils August',
 'Name_Karun, Miss. Manca',
 'Name_Kassem, Mr. Fared',
 'Name_Keane, Miss. Nora A',
 'Name_Keane, Mr. Andrew "Andy"',
 'Name_Keefe, Mr. Arthur',
 'Name_Kelly, Miss. Anna Katherine "Annie Kate"',
 'Name_Kelly, Miss. Mary',
 'Name_Kelly, Mr. James',
 'Name_Kelly, Mrs. Florence "Fannie"',
 'Name_Kent, Mr. Edward Austin',
 'Name_Kenyon, Mrs. Frederick R (Marion)',
 'Name_Kiernan, Mr. Philip',
 'Name_Kilgannon, Mr. Thomas J',
 'Name_Kimball, Mr. Edwin Nelson Jr',
 'Name_Kink, Mr. Vincenz',
 'Name_Kink-Heilmann, Miss. Luise Gretchen',
 'Name_Kirkland, Rev. Charles Leonard',
 'Name_Klaber, Mr. Herman',
 'Name_Klasen, Mr. Klas Albin',
 'Name_Knight, Mr. Robert J',
 'Name_Kraeff, Mr. Theodor',
 'Name_Kvillner, Mr. Johan Henrik Johannesson',
 'Name_Lahoud, Mr. Sarkis',
 'Name_Lahtinen, Mrs. William (Anna Sylfven)',
 'Name_Laitinen, Miss. Kristina Sofia',
 'Name_Laleff, Mr. Kristo',
 'Name_Lam, Mr. Ali',
 'Name_Lam, Mr. Len',
 'Name_Landergren, Miss. Aurora Adelia',
 'Name_Lang, Mr. Fang',
 'Name_Laroche, Miss. Simonne Marie Anne Andree',
 'Name_Laroche, Mr. Joseph Philippe Lemercier',
 'Name_Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Name_Larsson, Mr. August Viktor',
 'Name_Larsson, Mr. Bengt Edvin',
 'Name_LeRoy, Miss. Bertha',
 'Name_Leader, Dr. Alice (Farnham)',
 'Name_Leeni, Mr. Fahim ("Philip Zenni")',
 'Name_Lefebre, Master. Henry Forbes',
 'Name_Lefebre, Miss. Ida',
 'Name_Lefebre, Miss. Jeannie',
 'Name_Lefebre, Miss. Mathilde',
 'Name_Lehmann, Miss. Bertha',
 'Name_Leinonen, Mr. Antti Gustaf',
 'Name_Leitch, Miss. Jessie Wills',
 'Name_Lemberopolous, Mr. Peter L',
 'Name_Lemore, Mrs. (Amelia Milley)',
 'Name_Lennon, Mr. Denis',
 'Name_Leonard, Mr. Lionel',
 'Name_Lester, Mr. James',
 'Name_Lesurer, Mr. Gustave J',
 'Name_Levy, Mr. Rene Jacques',
 'Name_Lewy, Mr. Ervin G',
 'Name_Leyson, Mr. Robert William Norman',
 'Name_Lievens, Mr. Rene Aime',
 'Name_Lindahl, Miss. Agda Thorilda Viktoria',
 'Name_Lindblom, Miss. Augusta Charlotta',
 'Name_Lindell, Mr. Edvard Bengtsson',
 'Name_Lindqvist, Mr. Eino William',
 'Name_Lines, Miss. Mary Conover',
 'Name_Ling, Mr. Lee',
 'Name_Lobb, Mr. William Arthur',
 'Name_Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Name_Long, Mr. Milton Clyde',
 'Name_Longley, Miss. Gretchen Fiske',
 'Name_Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Name_Lovell, Mr. John Hall ("Henry")',
 'Name_Lulic, Mr. Nikola',
 'Name_Lundahl, Mr. Johan Svensson',
 'Name_Lurette, Miss. Elise',
 'Name_Mack, Mrs. (Mary)',
 'Name_Madigan, Miss. Margaret "Maggie"',
 'Name_Madill, Miss. Georgette Alexandra',
 'Name_Madsen, Mr. Fridtjof Arne',
 'Name_Maenpaa, Mr. Matti Alexanteri',
 'Name_Maioni, Miss. Roberta',
 'Name_Maisner, Mr. Simon',
 'Name_Mallet, Master. Andre',
 'Name_Mallet, Mr. Albert',
 'Name_Mamee, Mr. Hanna',
 'Name_Mangan, Miss. Mary',
 'Name_Mannion, Miss. Margareth',
 'Name_Marechal, Mr. Pierre',
 'Name_Markoff, Mr. Marin',
 'Name_Markun, Mr. Johann',
 'Name_Marvin, Mr. Daniel Warner',
 'Name_Masselmani, Mrs. Fatima',
 'Name_Matthews, Mr. William John',
 'Name_Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Name_McCarthy, Mr. Timothy J',
 'Name_McCormack, Mr. Thomas Joseph',
 'Name_McCoy, Miss. Agnes',
 'Name_McCoy, Mr. Bernard',
 'Name_McDermott, Miss. Brigdet Delia',
 'Name_McEvoy, Mr. Michael',
 'Name_McGough, Mr. James Robert',
 'Name_McGovern, Miss. Mary',
 'Name_McGowan, Miss. Anna "Annie"',
 'Name_McKane, Mr. Peter David',
 'Name_McMahon, Mr. Martin',
 'Name_McNamee, Mr. Neal',
 'Name_Meanwell, Miss. (Marion Ogden)',
 'Name_Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Name_Mellinger, Miss. Madeleine Violet',
 'Name_Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Name_Mellors, Mr. William John',
 'Name_Meo, Mr. Alfonzo',
 'Name_Mernagh, Mr. Robert',
 'Name_Meyer, Mr. August',
 'Name_Meyer, Mr. Edgar Joseph',
 'Name_Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Name_Millet, Mr. Francis Davis',
 'Name_Milling, Mr. Jacob Christian',
 'Name_Minahan, Dr. William Edward',
 'Name_Minahan, Miss. Daisy E',
 'Name_Mineff, Mr. Ivan',

In [49]:
df.mode(numeric_only=True).iloc[0]

PassengerId     1.00
Survived        0.00
Pclass          3.00
Age            24.00
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 0, dtype: float64

In [53]:
a = df.loc[:,['Survived', 'Pclass','Age','SibSp','Parch','Fare']].mode()

In [57]:
df.isnull().any().any()

True

In [58]:
col = ['Survived', 'Pclass','Age','SibSp','Parch','Fare']
df.columns.difference(set(col))

Index(['Cabin', 'Embarked', 'Name', 'PassengerId', 'Sex', 'Ticket'], dtype='object')

In [59]:
import xgboost as xgb

In [60]:
es = xgb.XGBClassifier()

In [61]:
es.get_params()['n_estimators']

100

In [62]:
import lightgbm as lgb
es1 = lgb.LGBMClassifier()
es1.get_params()['n_estimators']

100

In [64]:
es.fit(df.loc[:,col[1:]], df.loc[:,col[0]])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [84]:
ypred = es.predict_proba(df.loc[:,col[1:]], ntree_limit=40)

In [85]:
from sklearn.metrics import roc_curve

In [ ]:
y = df.loc[:,col[0]]
ypred = ypred[:,1]

In [87]:
fpr, tpr, thres = roc_curve(y, ypred)

In [89]:
np.abs(fpr-tpr).max()

0.4793883616144186

In [92]:
from sklearn.metrics import auc, roc_auc_score

In [91]:
auc(fpr, tpr)

0.8212646065680291

In [93]:
roc_auc_score(y, ypred)

0.8212646065680291

In [99]:
category, bins = pd.qcut(ypred, q=10, duplicates='drop', retbins=True)

In [112]:
cate = category.set_categories(bins[:-1], rename=True)

In [116]:
group = y.groupby(cate)

In [120]:
(group.sum()/y.sum()).sort_index(ascending=False).cumsum()

0.732731    0.242690
0.576536    0.415205
0.477955    0.564327
0.401960    0.663743
0.329217    0.763158
0.282369    0.871345
0.213180    0.926901
0.198277    0.970760
0.149845    0.988304
0.052730    1.000000
Name: Survived, dtype: float64

In [117]:
group.size()

0.052730     93
0.149845     91
0.198277     84
0.213180     90
0.282369     93
0.329217    104
0.401960     79
0.477955     82
0.576536     87
0.732731     88
Name: Survived, dtype: int64

In [126]:
columns=['箱','分数','样本数量','关注样本数','区间关注类别比例',
        '累计关注类别比例','区间准确率','累计准确率','尾部准确率',
        '提升','累计提升']
tb = pd.DataFrame(columns=columns,index=bins[:-1][::-1])

In [129]:
tb['样本数量'] = group.size()

In [131]:
tb['分数'] = tb.index

In [138]:
tb['箱'] = range(1,len(tb)+1)
tb['关注样本数'] = group.sum()
tb

,箱,分数,样本数量,关注样本数,区间关注类别比例,累计关注类别比例,区间准确率,累计准确率,尾部准确率,提升,累计提升
0.732731,1,0.732731,88,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.576536,2,0.576536,87,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.477955,3,0.477955,82,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.401960,4,0.401960,79,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.329217,5,0.329217,104,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.282369,6,0.282369,93,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.213180,7,0.213180,90,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.198277,8,0.198277,84,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.149845,9,0.149845,91,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.052730,10,0.052730,93,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
tb.groupby(tb['箱']<=2)['样本数量'].sum()

箱
False    716
True     175
Name: 样本数量, dtype: int64

In [156]:
y1=(ypred>bins[:-1][::-1][1]).astype(int)

In [157]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [158]:
confusion_matrix(y, y1)

array([[516,  33],
       [200, 142]], dtype=int64)

In [160]:
precision_score(y, y1), recall_score(y, y1)

(0.8114285714285714, 0.4152046783625731)

In [197]:
from sklearn import metrics
class ResultShow:
    def get_group(self, y, ypred):
        category, bins = pd.qcut(ypred, q=10, duplicates='drop', retbins=True)
        cate = category.set_categories(bins[:-1], rename=True)
        return cate, bins[:-1][::-1]

    def bin_info(self, y, ypred):
        columns=['箱','分数','样本数量','关注样本数','区间关注类别比例',
        '累计关注类别比例','区间准确率','累计准确率','尾部准确率',
        '提升','累计提升']
        cate, bins = self.get_group(y, ypred)
        df = pd.DataFrame(columns=columns, index=bins)
        group = y.groupby(cate)
        df['箱'] = range(1, len(df)+1)
        df['分数'] = tb.index
        df['样本数量'] = group.size()
        df['关注样本数'] = group.sum()
        df['区间关注类别比例'] = df['关注样本数']/y.sum()
        df['累计关注类别比例'] = df['区间关注类别比例'].cumsum()
        df['区间准确率'] = None
        df['提升'] = None
        df['累计提升'] = None
        return df
    def confusin(self, y, ypred, bin_num=1):
        columns=['实际类别','类别总数','正确百分比','预测类别 非关注','预测类别 关注']
        indexs=['非关注','关注','合计']
        df = pd.DataFrame(columns=columns)
        df['实际类别'] = indexs
        df = df.set_index('实际类别')
        df['类别总数'] = [len(y)-y.sum(), y.sum(), len(y)]
        _, bins = self.get_group(y, ypred)

        y1 = (ypred > bins[bin_num-1]).astype(int)
        df.iloc[:2, -2:] = metrics.confusion_matrix(y, y1)
        df.loc['关注','正确百分比'] = df.at['关注','预测类别 关注']/df.at['关注','类别总数']
        df.loc['非关注','正确百分比'] = df.at['非关注','预测类别 非关注']/df.at['非关注','类别总数']
        df.loc['合计','预测类别 关注'] = df.at['关注','预测类别 关注']/df.loc[:,'预测类别 关注'].sum()
        df.loc['合计','预测类别 非关注'] = df.at['非关注','预测类别 非关注']/df.loc[:,'预测类别 非关注'].sum()
        return df
    def indicate(self, y, ypred, bin_num=1):
        _, bins = self.get_group(y, ypred)
        y1 = (ypred > bins[bin_num-1]).astype(int)
        columns=['名称','正确百分比']
        indexs = ['准确率','精确率','召回率']
        indexs2 = ['灵敏度','特异度','F1统计']
        df1 = pd.DataFrame(columns=columns)
        df1['名称'] = indexs
        df2 = pd.DataFrame(columns=columns)
        df2['名称'] = indexs2
        value = metrics.accuracy_score(y, y1), metrics.precision_score(y, y1), metrics.recall_score(y, y1)
        df1.loc[:,'正确百分比'] = value
        conf = metrics.confusion_matrix(y, y1)
        value = conf[1,1]/conf.sum(axis=1)[1], conf[0,0]/conf.sum(axis=1)[0], metrics.f1_score(y, y1)
        df2.loc[:,'正确百分比'] = value
        return df1, df2

In [198]:
rs = ResultShow()

In [200]:
df1, df2 = rs.indicate(y, ypred,2)

In [201]:
df1

    名称     正确百分比
0  准确率  0.738496
1  精确率  0.811429
2  召回率  0.415205

In [202]:
df2

     名称     正确百分比
0   灵敏度  0.415205
1   特异度  0.939891
2  F1统计  0.549323

In [203]:
rs.confusin(y, ypred,2)

      类别总数     正确百分比 预测类别 非关注   预测类别 关注
实际类别
非关注    549  0.939891      516        33
关注     342  0.415205      200       142
合计     891       NaN  0.72067  0.811429