In [3]:
import pandas as pd
import numpy as np
import os
os.chdir('D:/DataSet/yizhifu')

In [5]:
df = pd.read_csv('./train/train_base.csv')

In [8]:
label = pd.read_csv('./train/train_label.csv')

In [11]:
data = pd.merge(df, label, left_on='user', right_on='user')

In [17]:
label['label'].value_counts()

0    36002
1    11780
Name: label, dtype: int64

In [20]:
df.nunique()

user                 47782
sex                      2
age                     48
provider                 3
level                    3
verified                 2
using_time              54
regist_type              8
card_a_cnt              18
card_b_cnt              11
card_c_cnt              15
agreement1               2
op1_cnt                 31
op2_cnt                 17
card_d_cnt               4
agreement_total         21
service1_cnt             7
service1_amt            58
service2_cnt             6
agreement2               2
agreement3               2
agreement4               2
acc_count               66
login_cnt_period1     2692
login_cnt_period2     1566
ip_cnt                 193
login_cnt_avg           76
login_days_cnt          91
province                31
city                   361
balance                 20
balance_avg             21
balance1                21
balance1_avg            21
balance2                20
balance2_avg             5
service3                 2
service3_level           4
product1_amount          7
product2_amount         21
product3_amount          3
product4_amount          2
product5_amount          2
product6_amount         21
product7_cnt            18
product7_fail_cnt       17
dtype: int64

In [61]:
pd.crosstab(data['product4_amount'],data['label'],normalize='index')

label                   0         1
product4_amount
level 0          0.750741  0.249259
level 1          0.998099  0.001901

In [31]:
data['label'].value_counts(normalize=True)

0    0.753464
1    0.246536
Name: label, dtype: float64

In [32]:
data['verified'].value_counts()

category 0    46218
category 1     1564
Name: verified, dtype: int64

In [33]:
cate = data.select_dtypes(include='object')

In [34]:
cate.shape

(47782, 26)

In [39]:
city = cate['city'].value_counts()

In [65]:
cate1 = cate.copy()
for column in cate.columns:
    cate1[column] = cate[column].str.split(' ').str[1]

In [44]:
num = data.select_dtypes(exclude='object')

In [71]:
cate1.columns
NO_USE_COLUMNS = ['user', 'province', 'city', ]

Index(['user', 'sex', 'provider', 'level', 'verified', 'regist_type',
       'agreement1', 'agreement2', 'agreement3', 'agreement4', 'province',
       'city', 'balance', 'balance_avg', 'balance1', 'balance1_avg',
       'balance2', 'balance2_avg', 'service3', 'service3_level',
       'product1_amount', 'product2_amount', 'product3_amount',
       'product4_amount', 'product5_amount', 'product6_amount'],
      dtype='object')

In [72]:
cate.iloc[:10,10:20]

,province,city,balance,balance_avg,balance1,balance1_avg,balance2,balance2_avg,service3,service3_level
0,f44d49ef80e942ff,8f1271ab75b3e2d8,level 1,level 1,level 1,level 1,level 1,level 1,category 0,NaN
1,c333319f1964450d,ca5d57322c1e6545,level 19,level 19,level 1,level 1,level 20,level 5,category 0,NaN
2,21c43413032d5522,fdb6d47398f44c67,level 7,level 5,level 14,level 11,level 1,level 5,category 0,NaN
3,7fb40ca1dc4972a0,f3aa133c653a4cf9,level 11,level 7,level 1,level 1,level 12,level 4,category 0,NaN
4,71c3649e6dfc18fe,c65608b2298e1ead,level 8,level 9,level 1,level 1,level 9,level 5,category 0,NaN
5,6dd7071b6edc22d2,0dee749b6cd70448,level 1,level 1,level 1,level 1,level 1,level 1,category 0,NaN
6,4537ea65a48e5fc2,65d88eabca6a6cc6,level 9,level 5,level 1,level 1,level 10,level 3,category 0,NaN
7,c3e48f852a0da7b6,1b25064aa7fe4945,level 11,level 8,level 4,level 4,level 10,level 4,category 0,NaN
8,c3e48f852a0da7b6,44d4af9f29714503,level 14,level 14,level 1,level 1,level 16,level 5,category 0,NaN
9,6dd7071b6edc22d2,998bea7dacc1ac2e,level 1,level 1,level 1,level 1,level 1,level 1,category 0,NaN

In [52]:
num.nunique()

age                    48
using_time             54
card_a_cnt             18
card_b_cnt             11
card_c_cnt             15
op1_cnt                31
op2_cnt                17
card_d_cnt              4
agreement_total        21
service1_cnt            7
service1_amt           58
service2_cnt            6
acc_count              66
login_cnt_period1    2692
login_cnt_period2    1566
ip_cnt                193
login_cnt_avg          76
login_days_cnt         91
product7_cnt           18
product7_fail_cnt      17
label                   2
dtype: int64