In [2]:
import os
import numpy as np
import pandas as pd
os.chdir('D:/DataSet/titanic')

Age 年龄
Cabin 船舱号
Embarked 登船港口
Fare 票价
Name 乘客姓名
Parch 不同代直系亲属人数
SibSp 同代直系亲属人数
PassengerId 乘客ID
Pclass 客舱等级
Sex 性别
Ticket 船票编号
Survived 存活情况

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
train.shape

(891, 12)

In [ ]:
train['HasAge'] = train['Age'].isnull().astype(int)
test['HasAge'] = test['Age'].isnull().astype(int)

In [6]:
train.groupby('Embarked')['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [7]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
train['Survived'].mean()

0.3838383838383838

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
train.loc[:,['Age','SibSp','Parch']]

      Age  SibSp  Parch
0    22.0      1      0
1    38.0      1      0
2    26.0      0      0
3    35.0      1      0
4    35.0      0      0
..    ...    ...    ...
886  27.0      0      0
887  19.0      0      0
888   NaN      1      2
889  26.0      0      0
890  32.0      0      0

[891 rows x 3 columns]

In [16]:
train.groupby('Age')['Parch'].mean()

Age
0.42     1.0
0.67     1.0
0.75     1.0
0.83     1.5
0.92     2.0
        ...
70.00    0.5
70.50    0.0
71.00    0.0
74.00    0.0
80.00    0.0
Name: Parch, Length: 88, dtype: float64

In [18]:
nullage = train.loc[train['Age'].isnull(),['Age','SibSp','Parch']]
hasage = train.loc[~train['Age'].isnull(),['Age','SibSp','Parch']]

In [20]:
nullage['people'] = nullage['SibSp']+nullage['Parch']

In [22]:
nullage['people'].value_counts()

0     133
1      22
2       9
10      7
4       4
3       2
Name: people, dtype: int64

In [23]:
hasage['people'] = hasage['SibSp']+hasage['Parch']
hasage['people'].value_counts()

0    404
1    139
2     93
3     27
5     22
6     12
4     11
7      6
Name: people, dtype: int64

In [24]:
train['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [47]:
train['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [57]:
hasage.loc[hasage['people']==0,'Age'].describe()

count    404.000000
mean      32.220297
std       12.899871
min        5.000000
25%       22.000000
50%       29.500000
75%       39.000000
max       80.000000
Name: Age, dtype: float64

In [53]:
nullage.loc[train['Parch']==0,:]

     Age  SibSp  Parch  people
5    NaN      0      0       0
17   NaN      0      0       0
19   NaN      0      0       0
26   NaN      0      0       0
28   NaN      0      0       0
..   ...    ...    ...     ...
839  NaN      0      0       0
849  NaN      1      0       1
859  NaN      0      0       0
868  NaN      0      0       0
878  NaN      0      0       0

[157 rows x 4 columns]

In [58]:
train.groupby(train['Age'].isnull())['Survived'].mean()

Age
False    0.406162
True     0.293785
Name: Survived, dtype: float64

In [60]:
train['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [64]:
train['Ticket'].str.split(' ')

0             [A/5, 21171]
1              [PC, 17599]
2      [STON/O2., 3101282]
3                 [113803]
4                 [373450]
              ...
886               [211536]
887               [112053]
888          [W./C., 6607]
889               [111369]
890               [370376]
Name: Ticket, Length: 891, dtype: object