In [1]:
import pandas as pd
import numpy as np
data=pd.DataFrame({
    "id":np.arange(101,111),                                # np.arange会自动输出范围内的数据，这里会输出101~110的id号。
    "date":pd.date_range(start="20200310",periods=10),      # 输出日期数据，设置周期为10，注意这里的周期数应该与数据条数相等。
    "money":[5,4,65,-10,15,20,35,16,6,20],                  # 设置一个-10的坑，下面会填（好惨，自己给自己挖坑，幸亏不准备跳~）
    "product":['苏打水','可乐','牛肉干','老干妈','菠萝','冰激凌','洗面奶','洋葱','牙膏','薯片'],
    "department":['饮料','饮料','零食','调味品','水果',np.nan,'日用品','蔬菜','日用品','零食'],                # 再设置一个空值的坑
    "origin":['China',' China','America','China','Thailand','China','america','China','China','Japan']     # 再再设置一个america的坑
})
data              # 输出查看数据集

    id       date  money product department    origin
0  101 2020-03-10      5     苏打水         饮料     China
1  102 2020-03-11      4      可乐         饮料     China
2  103 2020-03-12     65     牛肉干         零食   America
3  104 2020-03-13    -10     老干妈        调味品     China
4  105 2020-03-14     15      菠萝         水果  Thailand
5  106 2020-03-15     20     冰激凌        NaN     China
6  107 2020-03-16     35     洗面奶        日用品   america
7  108 2020-03-17     16      洋葱         蔬菜     China
8  109 2020-03-18      6      牙膏        日用品     China
9  110 2020-03-19     20      薯片         零食     Japan

In [ ]:
data.shape            # 行数列数
data.dtypes           # 所有列的数据类型
data['id'].dtype      # 某一列的数据类型
data.ndim             # 数据维度
data.index            # 行索引
data.columns          # 列索引
data.values           # 对象值

data.head()    # 显示头部几行（默认5行）
data.tail()    # 显示末尾几行（默认5行）
data.info()    # 数据集相关信息概览：索引情况、列数据类型、非空值、内存使用情况
data.describe()    # 快速综合统计结果

In [4]:
#空格处理
for i in data:                                    # 遍历数据集中的每一列
    if pd.api.types.is_object_dtype(data[i]):     # 如果是object类型的数据，则执行下方代码
        data[i]=data[i].str.strip()               # 去除空格
data['origin'].unique()

array(['China', 'America', 'Thailand', 'america', 'Japan'], dtype=object)

In [ ]:
# 数据替换
data['origin'].replace("america","America",inplace=True)    # 将第一个值替换为第二个值，inplace默认为False
data['origin']

In [ ]:
data['id'].astype('str')    # 将id列的类型转换为字符串类型。

In [ ]:
'number', 'category', 'object', 'datetime'

In [5]:
from glob import glob

In [7]:
import os
os.chdir('D:/Dataset/')

In [9]:
#glob()函数传递某种模式，包括未知字符，这样它会返回符合该某事的文件列表。
glob('a*.txt')
#需要选择这些数据并复制至剪贴板。然后，
#你可以使用read_clipboard()函数将他们读取至DataFrame中

['a.txt', 'a1.txt', 'ab1.txt']

In [ ]:
movies[movies.genre.isin(counts.nlargest(3).index)].head()

In [ ]:
data.dropna(thresh=len(data)*0.9, axis=1)